---
import Section from '../../ui/Section.astro';
import Title from '../../ui/Title.astro';
import Subtitle from '../../ui/Subtitle.astro';
import Paragraph from '../../ui/Paragraph.astro';

const { mainTitle, mainParagraph, paragraphsAndSubtitles } = Astro.props;	
---

<Section backgroundColor="bg-white" extraClasses="pt-15 md:pt-30">
	<!-- Main Title -->
	<div class="mb-12">
		<Title>
			{mainTitle}
		</Title>
		
	<Paragraph>
		{Array.isArray(mainParagraph) ? (
			mainParagraph.map((para: string) => <p set:html={para} />)
		) : (
			<p>{mainParagraph}</p>
		)}
	</Paragraph>
	</div>
	
	<!-- Section 1 -->
	{paragraphsAndSubtitles.map((item: any) => (
	<div class="mb-8 md:mb-12">
		<Subtitle>
			{item.subtitle}
		</Subtitle>
		<Paragraph>
			{item.paragraphs.map((paragraph: string) => <p set:html={paragraph} />)}
		</Paragraph>
	</div>
	))}
	
</Section>

