---
import Layout from '../layouts/Layout.astro';
import Button from '../components/ui/Button.astro';
import { en404 } from '../config/i18n/en';
import { fr404 } from '../config/i18n/fr';

const title = "404 - Page not found";
const description = "This page cannot be found.";
const currentPath = Astro.url.pathname;
let lang = 'en';

if(currentPath.includes('/fr/')){
	lang = 'fr';
}

const translations = lang === 'fr' ? fr404 : en404;

---

<Layout 
	title={title} 
	description={description} 
	lang={lang}
	canonical_url={Astro.url.href}
	metaRobots={false}
>
	<div class="flex items-center justify-center bg-gray-50 px-6 pt-[25vh] pb-40">
		<div class="text-center">
			<!-- 404 Number -->
			<h1 class="text-8xl md:text-9xl font-bold text-(--color-secondary) mb-6">
				404
			</h1>
			
			<!-- Error Message -->
			<p class="text-xl md:text-2xl text-gray-900 mb-8">
				{translations.message}
			</p>
			
			<!-- Return to Home Button -->
			<Button 
				variant="primary"
				size="lg"
			>
            <a href="/">
				{translations.buttonText}
            </a>
			</Button>
		</div>
	</div>
</Layout>

